body {
  font-family: 'Lato', sans-serif;
}

.app-container {
  width: 80%;
  margin: 0 auto;
}

h1 {
  font-weight: bold;
  font-size: 2em;
  padding: 20px;
}

.flashcard-box {
  width: 280px;
  height: 280px;
  overflow: hidden;
  box-shadow: 0 0.4rem 1.2rem 0.2rem rgba(0,0,0,.05);
  border: 1px solid #ddd;
  transition: transform .5s cubic-bezier(.6,0,.4,1);
  perspective: 1000px;
  transform: scale(.9) translateZ(0);
}

.flashcard-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.flashcard-front, .flashcard-back {
  width: 100%;
  height: 100%;
  position: absolute;
  font-size: 1.6em;
  transform-style: preserve-3d;
  transition: transform 0.5ms;
}

.flashcard-front {
  border-top: 3px solid #747a7e;
}

.hide-side {
  backface-visibility: hidden;
}

.flashcard-flipped, .flashcard-back {
  transform: rotateY(180deg);
}

.flashcard-content-type-text {
  text-align:center;
  height: 280px;
  line-height: 280px;
  white-space: nowrap;
}

.flashcard-content-type-paragraph {
  background-color: #fafafa;
  overflow-y: scroll;
  line-height: 1.5625;
  text-align: left;
  padding: 25px;
  font-size: 20px;
  height: 230px;
}

.flashcard-content-type-image {
  background-size: cover;
  background-position: 50% 50%;
  height: inherit;
}

.hide-click-to-flip {
  visibility: hidden;
}

.click-to-flip a{
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 13px;
  padding: 15px 10px;  
  text-decoration: none;
  font-style: italic;
  color: #313537;
  opacity: .2;
  transition: opacity .3s;
}

.click-to-flip a:hover {
    opacity: .8;
}